In [4]:
#This takes a csv file (that contains unicode) from the current directory, 
#reads it into a dictionary, then passes it to pandas to convert to a dataframe 
#for further pandas type processing

import unicodecsv

with open('enrollments.csv', 'rb') as f:
    reader = unicodecsv.DictReader(f)
    enrollments = list(reader)

import pandas as pd
enrollment_df=pd.DataFrame(enrollments)

#I want to get some summary statistics for the enrollments:
enrollment_df.describe()

,account_key,cancel_date,days_to_cancel,is_canceled,is_udacity,join_date,status
count,1640,1640,1640,1640,1640,1640,1640
unique,1302,211,102,2,2,116,2
top,448,,,True,False,2014-11-10,canceled
freq,9,652,652,988,1622,131,988

In [5]:
import unicodecsv

with open('daily_engagement.csv', 'rb') as f:
    reader = unicodecsv.DictReader(f)
    daily_engagement = list(reader)

daily_engagement_df=pd.DataFrame(daily_engagement)
#I want to get some summary statistics for the enrollments:
daily_engagement_df.describe()

,acct,lessons_completed,num_courses_visited,projects_completed,total_minutes_visited,utc_date
count,136240,136240,136240,136240,136240,136240
unique,1237,13,10,4,37361,295
top,448,0.0,0.0,0.0,0.0,2015-06-09
freq,295,123303,98880,135358,98880,672

In [6]:
import unicodecsv

with open('project_submissions.csv', 'rb') as f:
    reader = unicodecsv.DictReader(f)
    project_submissions = list(reader)

import pandas as pd
project_submissions_df=pd.DataFrame(project_submissions)
#I want to get some summary statistics for the enrollments:
project_submissions_df.describe()

,account_key,assigned_rating,completion_date,creation_date,lesson_key,processing_state
count,3642,3642,3642,3642,3642,3642
unique,743,5,250,276,11,2
top,569,INCOMPLETE,2015-05-21,2015-07-27,3176718735,EVALUATED
freq,27,1912,153,49,1503,3636